.arithmetic-expression {
    width: 180px;
    height: 20px;
    /* border: 1px solid red; */
    margin-bottom: 4px;
    background-color: beige;
    padding: 10px;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    font-family: cursive;
}