.App{
    margin: 100px auto;
    border: 5px solid rebeccapurple;
    max-width: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: aqua;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 20px;
}
